body {
    background-color: #cccccc1d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.entete {
    text-align: center;
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 850px;
    background-color: rgba(76, 162, 152, 0.185);
    border-radius: 5px;
    border: 1px solid none;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="number"] {
    width: 80px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.variable {
    font-size: 15px;
    line-height: 30px;
}

.button-container {
    margin-top: 20px;
}

.first {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
.solution1 {
    width: 100%;
    height: 100px;
    position: relative;
}
.img1 {
    position: absolute;
    top:15%;
    left: 0;
    width: 100px; /* Ajuster selon la taille de l'image */
    height: auto;
}
.solution2 {
    width: 100%;
    height: 100px;
    transform: translateY(-50%);
    animation: moveLeft 3s forwards;
    position: relative; 
}

.img2 {
    position: absolute;
    top:25%;
    right: 0;
    width: 80px; 
    height: auto;
    margin-top: 10%;
}